{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block content %}
<div class="text-center">
  <h1>Welcome</h1>
  <p>This is a aplication Web for Educational Purposes Only</p>
  <hr>
</div>
<div class="px-4">
  <h3>Note</h3>
  <p>This is an aplication make for django advance in the code yo can see:</p>
  <ul>Celery with a small function for test Purposes</ul>
  <ul>You can se a working login at the top of this page using signal and advance forms</ul>
  <ul>you can run pytest in the console, you must run first the enviroment before start the pytest</ul>
  <ul>Hint: theres a basic Django rest-framework for the movies app!!</ul>
  <ul>in that page you can add movies in json format</ul>
  <ul>
    example:
  {
    "id": 1,
    "title": "The Fast And The Furious",
    "year": 2001,
    "genre": "Action",
    "classification": "PG-13",
  }
  </ul>
  
  <a name=""  class="btn btn-primary" href="{% url 'movies_list' %}" role="button">RestFramework</a>

  
  
  

</div>
<h2>By Jorge Zetien</h2>
{% endblock content %}  
  
