{% extends 'base.html' %}
{% block tilte_modal %}Login{% endblock tilte_modal %}

{% block content %}
<form method="POST" action="{% url 'users:login' %}">{% csrf_token %}
  <div>
    {{ form.as_p }}
    <div>
      <button class="btn btn-success" type="submit">Login</button>
    </div>
  </div>
</form>
{% endblock content %}