<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block tittle %} Index {% endblock %} </title>
  </head>
  <body>
        {% if user.is_autenticated %}
            <div class="px-4">
                <p> Welcome, {{ user.username }}, Thanks for loggin in.</p>
                <a name=""  class="btn btn-warning" href="{% url 'users:home' %}" role="button">Home</a>
                <a name=""  class="btn btn-danger" href="{% url 'users:logout' %}" role="button">Logout</a>
            </div>
            
            
        {% else %}
            <div class="px-4">
                <p>Welcome, new user. Please log in</p>
                <a name=""  class="btn btn-info" href="{% url 'users:signin' %}" role="button">Signin</a>
                <a name=""  class="btn btn-success" href="{% url 'users:login' %}" role="button">Login</a>
            </div>
            
            
            
        {% endif %}
        {% block content %}
        {% endblock %} 
      
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>