{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block content %}
<div>
  <h1>Welcome</h1>
  <p>This is a aplication Web for Educational Purposes Only</p>
  <hr>
</div>
<div>
  <h3>Apps</h3>
  <h3>Informacion de la actividad</h3>
    <p> elementos en el codigo Aplicacion Infomovies</p>
    <ul>Testing con pytest</ul>
    <ul>Celery</ul>
    <ul>introduccion a rest-framework</ul>
  <a href="#">Movies</a>
</div>
{% endblock content %}




